*{
    margin:0px;
    padding:0px;
}
body{
    background-color: white;
}
.bank_left{
    width: 160px;
    height: 550px;
    background-color: white;
    box-shadow: 0 2px 6px #eeeeee;
}
.ul_header{
    width:150px;
    height:120px;
    background-color: white;
}
.ul_headerLi{
    text-shadow: 0px 1px 2px #eeeeee;
    margin-top:80px;
    margin-left:10px;
    margin-right:10px;
    padding: 10px 10px;
    color: white;
    text-align: center;
    background-color: #a71e32;
    list-style-type: none;
    display: block;
    width: 60px;
    float:left;
}
.font{
    text-shadow: 0px 1px 2px #000000;
    padding-top:90px;
    font-family: 微软雅黑;
    size:10px;
    text-align: left;
    background: white;
}
.bank_leftFooter{
    width: 160px;
    height: 450px;
    background-color: white;
}
.bank_leftFooter li{
    list-style-type: none;
    background-color: white;
}
.bank_leftFooter li a{
    color: black;
    font-family: 楷体;
    text-shadow: 0px 1px 2px #000000;
    line-height: 30px;
    display: block;
    width: 120px;
    height: 30px;
    margin: 10px auto;
    padding: 20px 15px;
    text-align: center;
    text-decoration:none;
}
.bank_leftFooter li a:hover{
    background-color: aliceblue;
}